@font-face {
    font-family: 'Ruberoid-BoldOblique';
    src: url(../assets/ruberoid/Ruberoid-BoldOblique.ttf);
}

@font-face {
    font-family: 'Ruberoid-Light';
    src: url(../assets/ruberoid/Ruberoid-ExtraLight.ttf);
}
html,
body{
    height: 100%;
}

body{
    color: #FFFCE6;
    background-color: #006633;
    font-family: 'Ruberoid-Light';
    box-sizing: border-box;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.header{
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    color: #FFF;
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.header-list li{
    display: inline;
}

.header-list a{
    color: #FFF;
    text-decoration: none;
}

.header-logo,
.footer-logo{
    width: 10%;
}

/* ------------- */

.main-content{
    /* background-color: #ff00dd; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-content__title{
    font-size: 120px;
    margin: 0;
}

.main-content__span{
    font-family: 'Ruberoid-BoldOblique';
}

.main-content__projects{
    border-radius: 5%;
}

/* ------------- */

.nav{
    background-color: #8b8bff;
}

.footer{
    /* background-color: #ff6363; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    margin: 16px;
}